<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cora Automation Suite" parallel="methods" thread-count="3" verbose="1">

    <listeners>
        <listener class-name="com.cora.listeners.TestListener"/>
    </listeners>

  <!--
    Add test classes here as they are created.
    Example:
    <test name="Login Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.cora.tests.LoginTest"/>
        </classes>
    </test>
  -->

    <test name="Placeholder">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.cora.tests.FrameworkSmokeTest"/>
        </classes>
    </test>

</suite>
